# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**
* Learn about popular languages used in Data Science
* Learn how to create a table
* Learn how to create unordered and ordered lists

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pycaret
2. NumPy
3. Pandas
4. Plotly

# Table

| Data Science Tools |
|--------------------|
| Zeppelin Notebooks |
| R Studio's |
| Jupyter Notbooks |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [15]:
(3*4)+5

17

In [16]:
print ((3*4)+5)

17

This will convert 200 minutes to hours by diving by 60

In [19]:
print(200/60)

3.3333333333333335

## Author:
Carmen Pesantez M.